@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background-color: hsl(217, 28%, 15%);
  font-family: "Open Sans", sans-serif;
}
.app {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
